version: "3.6"

services:

  gimp:

    volumes:
      - ./wordpress/gimp/:/gimp/
      - ./wordpress/theme/assets/img/:/gimp/dist/

  wordpress:

    volumes:
      - &site-plugin
        "./wordpress/site-plugins/newopera-productions/:\
        /var/www/html/wp-content/plugins/newopera-productions/:ro"
      - &varilink-log-writer-plugin
        "./varilink-plugins/varilink-log-writer/:\
        /var/www/html/wp-content/plugins/varilink-log-writer/:ro"
      - &theme
        "./wordpress/theme/:\
        /var/www/html/wp-content/themes/newopera-site/:ro"

  wp-cli:

    volumes:
      - *site-plugin
      - *varilink-log-writer-plugin
      - *theme
